DB_HOST=$IONOS_DB_HOST
DB_PORT=3306
DB_NAME=$IONOS_DB_NAME
DB_USER=$IONOS_DB_USERNAME
DB_PASS=${IONOS_DB_PASSWORD.urlEncoded()}
MAIL_HOST=$IONOS_MAIL_HOST
MAIL_PORT=$IONOS_MAIL_PORT
MAIL_USER=$IONOS_MAIL_USERNAME
MAIL_PASS=$IONOS_MAIL_PASSWORD
MAIL_FROM=$IONOS_MAIL_FROM_ADDRESS
MAIL_FROM_NAME=3D-Druckservice
ADMIN_PASSWORD_HASH=${{ secrets.ADMIN_PASSWORD_HASH }}
ADMIN_EMAIL=${{ secrets.ADMIN_EMAIL }}
APP_URL=${{ secrets.APP_URL }}
